### Part2-4 Getting supermarket information from Foursquare

In [1]:
import pandas as pd

import requests # library to handle requests
import json # library to handle JSON files
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

In [2]:
df0 = pd.read_csv('listings.csv',encoding='UTF-8')

In [3]:
df0.shape

(37012, 74)

#### Limit the data to properties that meet the following criteria
- Property_type: Entire apartment or Entire condominium or Entire serviced apartment
- review_scores_rating >= 95
- maximum_nights >= 90

In [4]:
df0= df0[(df0['review_scores_rating'] >= 95) & (df0['maximum_nights'] >= 90)]

In [5]:
df0.shape

(12043, 74)

In [6]:
list = ['Entire apartment','Entire condominium','Entire serviced apartment']
df = df0[df0.property_type.isin(list)]

In [7]:
df.shape

(6036, 74)

In [8]:
dfs = pd.read_csv('station.csv')

In [9]:
dfs.columns

Index(['Unnamed: 0', 'Station_Name', 'LINE', 'lat', 'lng', 'numuni'], dtype='object')

In [10]:
dfs['num_super'] = 0

In [11]:
s_columns =['referralId', 'reasons.count', 'reasons.items', 'venue.id',\
       'venue.name', 'venue.location.address', 'venue.location.lat',\
       'venue.location.lng', 'venue.location.labeledLatLngs',\
       'venue.location.distance', 'venue.location.postalCode',\
       'venue.location.cc', 'venue.location.city', 'venue.location.state',\
       'venue.location.country', 'venue.location.formattedAddress',\
       'venue.categories', 'venue.photos.count', 'venue.photos.groups',\
       'venue.location.crossStreet', 'venue.delivery.id', 'venue.delivery.url',\
       'venue.delivery.provider.name', 'venue.delivery.provider.icon.prefix',\
       'venue.delivery.provider.icon.sizes',\
       'venue.delivery.provider.icon.name', 'venue.location.neighborhood',\
       'venue.venuePage.id', 'Station', 'LINE']
super_venues = pd.DataFrame(columns=s_columns)
super_venues

Empty DataFrame
Columns: [referralId, reasons.count, reasons.items, venue.id, venue.name, venue.location.address, venue.location.lat, venue.location.lng, venue.location.labeledLatLngs, venue.location.distance, venue.location.postalCode, venue.location.cc, venue.location.city, venue.location.state, venue.location.country, venue.location.formattedAddress, venue.categories, venue.photos.count, venue.photos.groups, venue.location.crossStreet, venue.delivery.id, venue.delivery.url, venue.delivery.provider.name, venue.delivery.provider.icon.prefix, venue.delivery.provider.icon.sizes, venue.delivery.provider.icon.name, venue.location.neighborhood, venue.venuePage.id, Station, LINE]
Index: []

[0 rows x 30 columns]

In [12]:
CLIENT_ID = '(Dummy)'
CLIENT_SECRET = '(Dummy)'
VERSION = '20180605' # Foursquare API version
LIMIT = 100 # A default Foursquare API limit value

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: (Dummy)
CLIENT_SECRET:(Dummy)

##### Category ID for Supermarket is  52f2ab2ebcbc57f1066b8b46

In [13]:
LIMIT = 50 # limit of number of venues returned by Foursquare API
radius = 500 # define radius

#
for k in range(len(dfs)):
   n_latitude  =  dfs['lat'][k]
   n_longitude =  dfs['lng'][k]
   Station_N = dfs['Station_Name'][k]
   Line_N = dfs['LINE'][k]

# create URL
   url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&categoryId=52f2ab2ebcbc57f1066b8b46&limit={}'.format(
      CLIENT_ID, 
      CLIENT_SECRET, 
      VERSION, 
      n_latitude, 
      n_longitude, 
      radius, 
      LIMIT)
# 
#url # display URL

   results = requests.get(url).json()
   venues = results['response']['groups'][0]['items']
   nearby_venues = json_normalize(venues) # flatten JSON
   nearby_venues['Station'] = Station_N
   nearby_venues['LINE'] = Line_N
   super_venues = pd.concat([super_venues,nearby_venues])
   num_sup = len(nearby_venues)
   print(k,Station_N,num_sup) 
   dfs.iloc[k,6] = num_sup

<ipython-input-167-31ccace10a75>:25: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  nearby_venues = json_normalize(venues) # flatten JSON

0 Astor Pl 4
1 Canal St 8
2 50th St 4
3 Bergen St 2
4 Pennsylvania Ave 3
5 238th St 2
6 Cathedral Pkwy (110th St) 6
7 Kingston - Throop Aves 2
8 65th St 4
9 36th St 0
10 Delancey St - Essex St 6
11 Van Siclen Ave 2
12 Norwood Ave 1
13 104th-102nd Sts 3
14 DeKalb Ave 2
15 Beach 105th St 1
16 Beach 90th St 2
17 Freeman St 1
18 Intervale Ave 0
19 182nd-183rd Sts 3
20 174th-175th Sts 5
21 167th St 3
22 Mets - Willets Point 0
23 Junction Blvd 2
24 Flushing - Main St 14
25 Buhre Ave 1
26 3rd Ave - 138th St 2
27 Castle Hill Ave 3
28 Brooklyn Bridge - City Hall 3
29 Zerega Ave 2
30 Grand Central - 42nd St 4
31 33rd St 0
32 96th St 5
33 77th St 4
34 Chauncey St 1
35 Union St 2
36 Elmhurst Ave 8
37 Ralph Ave 1
38 Pelham Pkwy 1
39 Gun Hill Rd 1
40 Nereid Ave (238 St) 2
41 Franklin Ave 3
42 Simpson St 2
43 Bronx Park East 2
44 Winthrop St 1
45 Van Siclen Ave 2
46 149th St - Grand Concourse 1
47 161st St - Yankee Stadium 2
48 Lexington Ave - 59th St 4
49 E 149th St 0
50 Morrison Av - Soundview 2
51 Whitlock Ave 2
52 St Lawrence Ave 1
53 Woodside - 61st St 5
54 Far Rockaway - Mott Ave 6
55 72nd St 2
56 96th St 5
57 168th St 3
58 Kingsbridge Rd 2
59 42nd St - Bryant Pk 0
60 Prospect Park 2
61 55th St 1
62 Jamaica - Van Wyck 2
63 Kew Gardens - Union Tpke 1
64 Sutphin Blvd - Archer Av 3
65 Court Sq - 23rd St 3
66 67th Ave 1
67 Grand Ave - Newtown 3
68 Ditmas Ave 2
69 Classon Ave 2
70 Broadway 4
71 Lorimer St 2
72 Sutter Ave 4
73 Wilson Ave 0
74 Halsey St 1
75 Lorimer St 2
76 8th Ave 3
77 36th Ave 3
78 Broadway 4
79 Times Sq - 42nd St 1
80 Grand Central - 42nd St 4
81 Park Pl 3
82 111th St 2
83 W 4th St - Washington Sq (Lower) 2
84 51st St 1
85 86th St 5
86 233rd St 3
87 66th St - Lincoln Ctr 0
88 Hunts Point Ave 2
89 Canal St 8
90 Middletown Rd 0
91 23rd St 4
92 Court Sq 3
93 59th St - Columbus Circle 6
94 Hunters Point Ave 0
95 23rd St 4
96 Houston St 3
97 104th St 4
98 Broad Channel 0
99 Ocean Pkwy 1
100 Vernon Blvd - Jackson Ave 1
101 68th St - Hunter College 2
102 Queensboro Plz 2
103 Rockaway Blvd 1
104 Union Sq - 14th St 4
105 Bedford - Nostrand Aves 3
106 15th St - Prospect Park 2
107 7th Ave 5
108 Ft Hamilton Pkwy 0
109 Church Ave 4
110 Beverly Rd 2
111 Church Ave 4
112 Newkirk Ave 4
113 Parkside Ave 6
114 Grand Army Plaza 3
115 Atlantic Av - Barclay's Center 3
116 Rockaway Ave 1
117 Fulton St 7
118 Clinton - Washington Aves 3
119 7th Ave 5
120 Atlantic Av - Barclay's Center 3
121 Atlantic Av - Barclay's Center 3
122 Borough Hall 3
123 Aqueduct Racetrack 0
124 Morris Park 1
125 Pelham Pkwy 1
126 Nostrand Ave 3
127 Nevins St 3
128 Eastern Pkwy - Bklyn Museum 1
129 Beverly Rd 2
130 Church Ave 4
131 Newkirk Ave 4
132 Brooklyn College - Flatbush Ave 3
133 Sterling St 1
134 Crown Hts - Utica Ave 3
135 Kingston Ave 1
136 Nassau Ave 3
137 Greenpoint Ave 5
138 Marcy Ave 3
139 Hewes St 1
140 138th St - Grand Concourse 1
141 5th Ave - 53rd St 1
142 Lexington Ave - 53rd St 3
143 28th St 6
144 Herald Sq - 34th St 1
145 1st Ave 1
146 Times Sq - 42nd St 1
147 Metropolitan Ave 5
148 Grand St 11
149 Graham Ave 7
150 Bedford Ave 3
151 Montrose Ave 1
152 Long Island City - Court Sq 3
153 21st St 1
154 39th Ave 0
155 145th St 3
156 157th St 6
157 96th St 5
158 103rd St 5
159 Central Park North (110th St) 5
160 103rd St 5
161 72nd St 2
162 81st St 1
163 75th Ave 7
164 86th St 5
165 Cathedral Pkwy (110th St) 6
166 116th St - Columbia University 4
167 125th St 3
168 135th St 1
169 116th St 5
170 Tremont Ave 3
171 137th St - City College 1
172 145th St 3
173 176th St 5
174 Burnside Ave 2
175 170th St 4
176 168th St 3
177 181st St 6
178 191st St 5
179 175th St 5
180 Beach 44th St 0
181 Beach 60th St 0
182 Beach 98th St 0
183 Rockaway Park - Beach 116 St 1
184 Beach 36th St 1
185 Beach 25th St 0
186 Parsons Blvd 3
187 169th St 4
188 103rd St - Corona Plaza 5
189 111th St 2
190 63rd Dr - Rego Park 6
191 Grant Ave 2
192 79th St 2
193 Atlantic Ave 1
194 Christopher St - Sheridan Sq 2
195 Ozone Park - Lefferts Blvd 1
196 Times Sq - 42nd St 1
197 W 8th St - NY Aquarium 0
198 28th St 6
199 28th St 6
200 Pelham Bay Park 2
201 Westchester Sq - E Tremont Ave 1
202 18th St 2
203 Grand Central - 42nd St 4
204 Beach 67th St 1
205 W 4th St - Washington Sq (Upper) 1
206 85th St - Forest Pky 3
207 Woodhaven Blvd 3
208 111th St 2
209 121st St 1
210 Halsey St 1
211 Myrtle - Wyckoff Aves 3
212 New Lots Ave 0
213 Van Siclen Ave 2
214 Cleveland St 1
215 Livonia Ave 3
216 Junius St 2
217 Rockaway Ave 1
218 Canarsie - Rockaway Pkwy 0
219 E 105th St 0
220 Saratoga Ave 2
221 Sutter Ave - Rutland Road 3
222 New Lots Ave 0
223 Broadway Junction 2
224 Alabama Ave 0
225 Shepherd Ave 2
226 Crescent St 1
227 Cypress Hills 0
228 75th St - Eldert Ln 1
229 69th St 5
230 74th St - Broadway 8
231 Woodhaven Blvd - Queens Mall 1
232 Myrtle - Wyckoff Aves 3
233 Seneca Ave 3
234 DeKalb Ave 2
235 52nd St 3
236 46th St 8
237 Northern Blvd 1
238 46th St 8
239 82nd St - Jackson Hts 5
240 90th St - Elmhurst Av 5
241 Howard Beach - JFK Airport 0
242 Aqueduct - North Conduit Av 0
243 Briarwood - Van Wyck Blvd 1
244 Forest Hills - 71st Av 5
245 Sutphin Blvd 2
246 Jamaica Ctr - Parsons / Archer 4
247 225th St 3
248 Elder Ave 2
249 Longwood Ave 2
250 Astoria Blvd 4
251 Astoria - Ditmars Blvd 3
252 Jackson Ave 4
253 Prospect Ave 4
254 Cypress Ave 1
255 174th St 1
256 Allerton Ave 5
257 E 143rd St - St Mary's St 0
258 Kingsbridge Rd 2
259 Bedford Park Blvd - Lehman College 1
260 Harlem - 148 St 3
261 Mt Eden Ave 5
262 Fordham Rd 4
263 170th St 4
264 Bedford Park Blvd 1
265 Marble Hill - 225th St 0
266 231st St 5
267 215th St 1
268 207th St 3
269 Inwood - 207th St 3
270 Van Cortlandt Park - 242nd St 0
271 West Farms Sq - E Tremont Av 2
272 219th St 4
273 Mosholu Pkwy 1
274 Norwood - 205th St 1
275 Burke Ave 2
276 Baychester Ave 1
277 Eastchester - Dyre Ave 3
278 Jamaica - 179th St 4
279 Wakefield - 241st St 1
280 Botanic Garden 2
281 Bushwick - Aberdeen 1
282 Broadway Junction 2
283 Gun Hill Rd 1
284 E 180th St 0
285 Dyckman St 3
286 125th St 3
287 Franklin Ave - Fulton St 2
288 149th St - Grand Concourse 1
289 3rd Ave - 149th St 4
290 167th St 3
291 Brook Ave 2
292 33rd St 0
293 40th St 9
294 145th St 3
295 155th St 2
296 161st St - Yankee Stadium 2
297 Utica Ave 1
298 Steinway St 3
299 Kosciuszko St 3
300 Gates Ave 2
301 Central Ave 3
302 Knickerbocker Ave 4
303 30th Ave 3
304 Jefferson St 1
305 Morgan Ave 0
306 Queens Plz 2
307 18th Ave 8
308 77th St 4
309 Bay Ridge Ave 4
310 50th St 4
311 Ft Hamilton Pkwy 0
312 25th Ave 5
313 Bay Pky 4
314 20th Ave 5
315 18th Ave 8
316 Bay Ridge - 95th St 3
317 86th St 5
318 79th St 2
319 71st St 2
320 20th Ave 5
321 18th Ave 8
322 62nd St 1
323 New Utrecht Ave 0
324 Ave U 1
325 Kings Hwy 2
326 Brighton Beach 3
327 Sheepshead Bay 3
328 Ave U 1
329 Kings Hwy 2
330 Ave U 1
331 Kings Hwy 2
332 Neptune Ave 1
333 Ave X 1
334 Bay 50th St 0
335 Gravesend - 86th St 1
336 Ave P 3
337 Ave N 2
338 Bay Pky 4
339 Ave M 1
340 Bay Pky 4
341 Ave I 1
342 Ave J 3
343 Ave H 2
344 Neck Rd 7
345 21st St - Queensbridge 0
346 50th St 4
347 7th Ave 5
348 47th-50th Sts - Rockefeller Ctr 2
349 57th St 5
350 Lexington Ave - 63rd St 3
351 Roosevelt Island - Main St 1
352 59th St - Columbus Circle 6
353 49th St 3
354 57th St 5
355 5th Ave - 59th St 2
356 Lexington Ave - 59th St 4
357 34th St - Penn Station 0
358 Times Sq - 42nd St 1
359 Fulton St 7
360 Chambers St 3
361 42nd St - Port Authority Bus Term 2
362 Myrtle-Willoughby Aves 2
363 Flushing Ave 2
364 23rd St 4
365 Herald Sq - 34th St 1
366 Hoyt - Schermerhorn Sts 2
367 Jay St - MetroTech 2
368 East Broadway 12
369 Delancey St - Essex St 6
370 Lower East Side - 2nd Ave 3
371 Flushing Ave 2
372 Myrtle Ave 1
373 4th Av - 9th St 4
374 Smith - 9th Sts 0
375 Bergen St 2
376 Jay St - MetroTech 2
377 Court St 3
378 Union Sq - 14th St 4
379 23rd St 4
380 Prospect Ave 4
381 4th Av - 9th St 4
382 3rd Ave 4
383 Union Sq - 14th St 4
384 Liberty Ave 0
385 Broadway Junction 2
386 59th St 4
387 45th St 10
388 36th St 0
389 9th Ave 1
390 53rd St 4
391 Ft Hamilton Pkwy 0
392 25th St 0
393 Carroll St 2
394 Spring St 6
395 181st St 6
396 190th St 2
397 116th St 5
398 125th St 3
399 Prince St 3
400 8th St - NYU 3
401 Fulton St 7
402 Park Pl 3
403 Chambers St 3
404 Hoyt St 2
405 Borough Hall 3

406 183rd St 3
407 Fordham Rd 4
408 World Trade Center 3
409 Canal St - Holland Tunnel 2
410 155th St 2
411 163rd St - Amsterdam Av 5
412 Fulton St 7
413 Chambers St 3
414 Canal St 8
415 City Hall 1
416 Canal St 8
417 South Ferry 0
418 Bowling Green 2
419 Wall St 7
420 Whitehall St 1
421 Rector St 4
422 Fresh Pond Rd 2
423 Middle Village - Metropolitan Ave 0
424 Rector St 4
425 Cortlandt St 5
426 Fulton St 7
427 Broad St 6
428 Cortlandt St 5
429 Wall St 7
430 Dyckman St 3
431 Grand St 11
432 Broadway - Lafayette St 3
433 Bowery 10
434 Canal St 8
435 23rd St 4
436 34th St - Penn Station 0
437 Jackson Hts - Roosevelt Av 8
438 14th St 3
439 135th St 1
440 14th St 3
441 6th Ave 1
442 8th Ave 3
443 14th St 3
444 Nostrand Ave 3
445 Clark St 2
446 Franklin Ave 3
447 Clinton - Washington Aves 3
448 Forest Ave 2
449 110th St 5
450 86th St 5
451 York St 3
452 High St 2
453 Lafayette Ave 2
454 President St 4
455 Woodlawn 1
456 Bleecker St 3
457 103rd St 5
458 Euclid Ave 3
459 88th St 0
460 Cortelyou Rd 2
461 116th St 5
462 Parkchester 4
463 Franklin St 1
464 80th St 2
465 5th Ave - Bryant Pk 0
466 Spring St 6
467 125th St 3
468 Coney Island - Stillwell Av 0
469 34th St - Hudson Yards 1
470 72nd St 2
471 86th St 5
472 96th St 5

In [14]:
super_venues

,referralId,reasons.count,reasons.items,venue.id,venue.name,venue.location.address,venue.location.lat,venue.location.lng,venue.location.labeledLatLngs,venue.location.distance,...,venue.delivery.id,venue.delivery.url,venue.delivery.provider.name,venue.delivery.provider.icon.prefix,venue.delivery.provider.icon.sizes,venue.delivery.provider.icon.name,venue.location.neighborhood,venue.venuePage.id,Station,LINE
0,e-0-4a98599ef964a520a62b20e3-0,0,"[{'summary': 'This spot is popular', 'type': '...",4a98599ef964a520a62b20e3,Sunrise Mart,4 Stuyvesant St,40.730150,-73.989448,"[{'label': 'display', 'lat': 40.73014952006944...",137,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,95825975,Astor Pl,4-6-6 Express
1,e-0-441a8599f964a52036311fe3-1,0,"[{'summary': 'This spot is popular', 'type': '...",441a8599f964a52036311fe3,Trader Joe's,142 E 14th St,40.733515,-73.987722,"[{'label': 'display', 'lat': 40.73351486923294...",477,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Astor Pl,4-6-6 Express
2,e-0-4b8d2319f964a520c8e932e3-2,0,"[{'summary': 'This spot is popular', 'type': '...",4b8d2319f964a520c8e932e3,Gristedes Supermarkets,25 University Pl,40.731977,-73.994553,"[{'label': 'display', 'lat': 40.73197675660857...",363,...,1007888,https://www.seamless.com/menu/gristedes-superm...,seamless,https://fastly.4sqi.net/img/general/cap/,"[40, 50]",/delivery_provider_seamless_20180129.png,NaN,NaN,Astor Pl,4-6-6 Express
3,e-0-45b3d761f964a520b1411fe3-3,0,"[{'summary': 'This spot is popular', 'type': '...",45b3d761f964a520b1411fe3,Food Emporium,10 Union Sq E,40.734341,-73.989531,"[{'label': 'display', 'lat': 40.73434079522086...",494,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Astor Pl,4-6-6 Express
0,e-0-4b5cae76f964a520203e29e3-0,0,"[{'summary': 'This spot is popular', 'type': '...",4b5cae76f964a520203e29e3,New Kam Man,200 Canal St,40.716973,-73.998302,"[{'label': 'display', 'lat': 40.71697342168782...",309,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46802950,Canal St,4-6-6 Express
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,e-0-4b4cc100f964a52061bd26e3-0,0,"[{'summary': 'This spot is popular', 'type': '...",4b4cc100f964a52061bd26e3,Key Food,1769 2nd Ave,40.781967,-73.949131,"[{'label': 'display', 'lat': 40.78196718550217...",306,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96th St,Q
1,e-0-5490d200498e5cc0594a6e77-1,0,"[{'summary': 'This spot is popular', 'type': '...",5490d200498e5cc0594a6e77,Cherry Valley MarketPlace,1968 2nd Ave,40.787561,-73.944568,"[{'label': 'display', 'lat': 40.78756080289349...",425,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96th St,Q
2,e-0-4b256ab7f964a5209e7124e3-2,0,"[{'summary': 'This spot is popular', 'type': '...",4b256ab7f964a5209e7124e3,Food Universe,1486 Lexington Ave,40.786084,-73.951041,"[{'label': 'display', 'lat': 40.786084, 'lng':...",393,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96th St,Q
3,e-0-5be1cdb8e97dfb002ced1b25-3,0,"[{'summary': 'This spot is popular', 'type': '...",5be1cdb8e97dfb002ced1b25,Westside Market,Lexington avenue,40.783398,-73.952721,"[{'label': 'display', 'lat': 40.78339760879645...",485,...,1425660,https://www.seamless.com/menu/westside-market-...,seamless,https://fastly.4sqi.net/img/general/cap/,"[40, 50]",/delivery_provider_seamless_20180129.png,NaN,NaN,96th St,Q
4,e-0-4b00a9cdf964a5205d4022e3-4,0,"[{'summary': 'This spot is popular', 'type': '...",4b00a9cdf964a5205d4022e3,Associated Supermarket,1968 2nd Ave,40.787560,-73.944677,"[{'label': 'display', 'lat': 40.78756035023351...",421,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96th St,Q

In [15]:
dfs

,Unnamed: 0,Station_Name,LINE,lat,lng,numuni,num_super
0,0,Astor Pl,4-6-6 Express,40.730054,-73.991070,27,4
1,1,Canal St,4-6-6 Express,40.718814,-74.001055,17,8
2,2,50th St,1-2,40.762456,-73.985984,46,4
3,3,Bergen St,2-3-4,40.686111,-73.990756,30,2
4,4,Pennsylvania Ave,3-4,40.664714,-73.894886,0,3
...,...,...,...,...,...,...,...
468,468,Coney Island - Stillwell Av,D-F-N-Q,40.577281,-73.981236,0,0
469,469,34th St - Hudson Yards,7-7 Express,40.755446,-74.002197,3,1
470,470,72nd St,Q,40.768803,-73.958362,36,2
471,471,86th St,Q,40.777861,-73.951771,37,5
472,472,96th St,Q,40.784237,-73.947066,23,5

In [16]:
len(super_venues)

16

In [17]:
super_venues

,referralId,reasons.count,reasons.items,venue.id,venue.name,venue.location.address,venue.location.lat,venue.location.lng,venue.location.labeledLatLngs,venue.location.distance,...,venue.delivery.id,venue.delivery.url,venue.delivery.provider.name,venue.delivery.provider.icon.prefix,venue.delivery.provider.icon.sizes,venue.delivery.provider.icon.name,venue.location.neighborhood,venue.venuePage.id,Station,LINE
0,e-0-4a98599ef964a520a62b20e3-0,0,"[{'summary': 'This spot is popular', 'type': '...",4a98599ef964a520a62b20e3,Sunrise Mart,4 Stuyvesant St,40.730150,-73.989448,"[{'label': 'display', 'lat': 40.73014952006944...",137,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,95825975,Astor Pl,4-6-6 Express
1,e-0-441a8599f964a52036311fe3-1,0,"[{'summary': 'This spot is popular', 'type': '...",441a8599f964a52036311fe3,Trader Joe's,142 E 14th St,40.733515,-73.987722,"[{'label': 'display', 'lat': 40.73351486923294...",477,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Astor Pl,4-6-6 Express
2,e-0-4b8d2319f964a520c8e932e3-2,0,"[{'summary': 'This spot is popular', 'type': '...",4b8d2319f964a520c8e932e3,Gristedes Supermarkets,25 University Pl,40.731977,-73.994553,"[{'label': 'display', 'lat': 40.73197675660857...",363,...,1007888,https://www.seamless.com/menu/gristedes-superm...,seamless,https://fastly.4sqi.net/img/general/cap/,"[40, 50]",/delivery_provider_seamless_20180129.png,NaN,NaN,Astor Pl,4-6-6 Express
3,e-0-45b3d761f964a520b1411fe3-3,0,"[{'summary': 'This spot is popular', 'type': '...",45b3d761f964a520b1411fe3,Food Emporium,10 Union Sq E,40.734341,-73.989531,"[{'label': 'display', 'lat': 40.73434079522086...",494,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Astor Pl,4-6-6 Express
0,e-0-4b5cae76f964a520203e29e3-0,0,"[{'summary': 'This spot is popular', 'type': '...",4b5cae76f964a520203e29e3,New Kam Man,200 Canal St,40.716973,-73.998302,"[{'label': 'display', 'lat': 40.71697342168782...",309,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46802950,Canal St,4-6-6 Express
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,e-0-4b4cc100f964a52061bd26e3-0,0,"[{'summary': 'This spot is popular', 'type': '...",4b4cc100f964a52061bd26e3,Key Food,1769 2nd Ave,40.781967,-73.949131,"[{'label': 'display', 'lat': 40.78196718550217...",306,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96th St,Q
1,e-0-5490d200498e5cc0594a6e77-1,0,"[{'summary': 'This spot is popular', 'type': '...",5490d200498e5cc0594a6e77,Cherry Valley MarketPlace,1968 2nd Ave,40.787561,-73.944568,"[{'label': 'display', 'lat': 40.78756080289349...",425,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96th St,Q
2,e-0-4b256ab7f964a5209e7124e3-2,0,"[{'summary': 'This spot is popular', 'type': '...",4b256ab7f964a5209e7124e3,Food Universe,1486 Lexington Ave,40.786084,-73.951041,"[{'label': 'display', 'lat': 40.786084, 'lng':...",393,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96th St,Q
3,e-0-5be1cdb8e97dfb002ced1b25-3,0,"[{'summary': 'This spot is popular', 'type': '...",5be1cdb8e97dfb002ced1b25,Westside Market,Lexington avenue,40.783398,-73.952721,"[{'label': 'display', 'lat': 40.78339760879645...",485,...,1425660,https://www.seamless.com/menu/westside-market-...,seamless,https://fastly.4sqi.net/img/general/cap/,"[40, 50]",/delivery_provider_seamless_20180129.png,NaN,NaN,96th St,Q
4,e-0-4b00a9cdf964a5205d4022e3-4,0,"[{'summary': 'This spot is popular', 'type': '...",4b00a9cdf964a5205d4022e3,Associated Supermarket,1968 2nd Ave,40.787560,-73.944677,"[{'label': 'display', 'lat': 40.78756035023351...",421,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96th St,Q

In [18]:
super_venues.to_csv('super_venues.csv')

In [19]:
dfs.to_csv('dfs.csv')